/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #c9c9d0;
} */

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}


.auth-box {
    display: flex;
    width: 100vw;
    height: 100vh;

    background: #7030a0;
    padding: 0;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.auth-left,
.auth-right {
    width: 50%;
    height: 100%;
}

.auth-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically */

}

.auth-left img {
    width: 60%;
    /* height: auto;   
     max-height: 80%;  */
    object-fit: contain;
}


.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    /* or keep transparent if needed */
}


h2 {
    font-size: 26px;
    font-weight: bold;
    color: #7030a0;
    font-family: 'RedHatDisplay-Regular';
}

h3 {
    font-size: 19px;
    font-family: 'RedHatDisplay-Regular';
    font-weight: bold;
}

p {
    font-size: 16px;
    /* Adjust for Welcome message */
    font-family: 'RedHatDisplay-Regular';


    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-top: 10px;

}

.small-text {
    font-size: 16px;
    /* Reduce font size */
    display: block;
    text-align: center;
    margin-top: 5px;
    /* Optional spacing */
    font-family: 'Red Hat Display';

    font-style: normal;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    height: 35px;
    font-family: 'RedHatDisplay-Regular';
}

label {
    font-family: 'RedHatDisplay-Regular';

}

button {
    width: 100%;
    height: 35px;
    padding: 6px;
    background: #7030a0;
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 30px;
    font-family: 'RedHatDisplay-Regular';
    font-weight: bold;
    font-style: normal;
}

.otp-box {
    display: flex;
    gap: 10px;
}

.otp-box input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    justify-content: flex-start;

}

.checkbox-container label {
    font-size: 12px;
    /* Adjust the font size as needed */
}


input[type="checkbox"] {

    margin-right: 8px;
    /* Adds space between checkbox and label*/
}

label {
    font-size: 16px;
    color: #2c2c54;
    margin-left: 5px;
}

::placeholder {
    font-size: 12px;
}

.forgot-link {
    color: #007bff;
    /* Blue link color */
    text-decoration: none;
    /* Remove underline */
    font-weight: bold;
    /* Make it stand out */
    cursor: pointer;
}

.forgot-link:hover {
    text-decoration: underline;
    /* Underline on hover */
}