<div class="breadcrumb-wrapper">
  <nav class="breadcrumb">
    <a routerLink="/administration" class="breadcrumb-link">Administration</a>
    <span class="breadcrumb-separator">››</span>
    <span class="breadcrumb-current">UserManagement</span>
  </nav>
</div>


<nav class="navbar">

  <div class="navbar-left">
    <span class="navbar-title">UserManagement</span>
  </div>

  <div class="navbar-right">
    <button class="nav-button" [routerLink]="'/role'">Role</button>
  </div>
</nav>

<div class="modal" *ngIf="isAddUserPopupOpen">
  <div class="modal-content">
    <p>Add User</p>
    <div class="form-grid">

      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="user.username" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="user.password" />
          <button type="button" class="eye-button" (click)="isPasswordVisible = !isPasswordVisible">
            <img [src]="isPasswordVisible ? 'assets/show.png' : 'assets/hide.png'" alt="Toggle visibility">
          </button>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" />
      </div>


      <div class="form-group">
        <label>Admin/Patrol</label>
        <input type="text" [(ngModel)]="user.patrolGuardName" />
      </div>


      <!-- <div class="form-group">
        <label>Location Name</label>
        <select [(ngModel)]="user.locationId">
          <option *ngFor="let location of locationList" [value]="location.locationId">
            {{ location.locationId }} - {{ location.description }}
          </option>
        </select>
      </div> -->


      <!-- <div class="form-group">
        <label for="taskDropdown">Location Name</label>
        <div class="dropdown-wrapper">
          <div id="taskDropdown" class="dropdown-container" (click)="toggleLocationDropdown()">
            <ng-container *ngIf="user.locationId.length > 0; else selectPrompt">
              <span class="chip" *ngFor="let locId of user.locationId" (click)="$event.stopPropagation()">
                {{ getLocationDescription(locId) }}
                <span class="remove-chip" (click)="removeLocation(locId)">×</span>
              </span>
            </ng-container>
            <ng-template #selectPrompt>
              <span class="placeholder-text">Select Locations</span>
            </ng-template>
          </div>
          <div class="dropdown-options" *ngIf="isDropdownOpen">
            <label class="checkbox-label">
              <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()" />
              Select All
            </label>
            <label class="checkbox-label" *ngFor="let location of locationList">
              <input type="checkbox" [value]="location.locationId" (change)="onLocationCheckboxChange($event)"
                [checked]="user.locationId.includes(location.locationId)" />
              {{ location.locationId }} - {{ location.description }}
            </label>
          </div>
        </div>
      </div> -->





      <div class="form-group">
        <label>Designation</label>
        <input type="text" [(ngModel)]="user.designation" />
      </div>

      <div class="form-group">
        <label>Department</label>
        <input type="text" [(ngModel)]="user.department" />
      </div>


      <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" [(ngModel)]="user.mobileNumber" />
      </div>


      <div class="form-group">
        <label>Role</label>
        <select [(ngModel)]="user.roleId">
          <option *ngFor="let role of roles" [value]="role.roleId">
            {{ role.roleName }}-{{ role.roleId }}
          </option>
        </select>
      </div>

    </div>

    <div class="modal-buttons">
      <button class="cancel-btn" (click)="closeAddUserPopup()">Cancel</button>
      <button class="create-btn" (click)="createUser()">Save</button>
    </div>
  </div>
</div>



<div class="modal" *ngIf="isUpdateUserPopupOpen">
  <div class="modal-content">
    <p>Update User</p>
    <div class="form-grid">

      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="updateUserData.username" />
      </div>

      <!-- <div class="form-group">
        <label>New Password</label>
        <div class="password-wrapper">
          <input [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="updateUserData.password" />
          <button type="button" class="eye-button" (click)="isPasswordVisible = !isPasswordVisible">
            <img [src]="isPasswordVisible ? 'assets/show.png' : 'assets/hide.png'" alt="Toggle visibility">
          </button>
        </div>
      </div> -->

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="updateUserData.email" />
      </div>

      <div class="form-group">
        <label>Admin/Patrol</label>
        <input type="text" [(ngModel)]="updateUserData.patrolGuardName" />
      </div>


      <!-- <div class="form-group">
        <label>Location Name</label>
        <select [(ngModel)]="updateUserData.locationId">
          <option *ngFor="let location of locationList" [value]="location.locationId">
            {{ location.locationId }} - {{ location.description }}
          </option>
        </select>
      </div> -->

      <!-- <div class="form-group">
        <label for="updateTaskDropdown">Location Name</label>
        <div class="dropdown-wrapper">
          <div id="updateTaskDropdown" class="dropdown-container" (click)="toggleUpdateLocationDropdown()">

            <ng-container *ngIf="updateUserData.locationId?.length > 0; else updateSelectPrompt">
              <span class="chip" *ngFor="let locId of updateUserData.locationId" (click)="$event.stopPropagation()">
                {{ getLocationDescription(locId) }}
                <span class="remove-chip" (click)="removeUpdateLocation(locId)">×</span>
              </span>
            </ng-container>

            <ng-template #updateSelectPrompt>
              <span class="placeholder-text">Select Locations</span>
            </ng-template>
          </div>

          <div class="dropdown-options" *ngIf="isUpdateDropdownOpen">
            <label class="checkbox-label">
              <input type="checkbox" (change)="toggleUpdateUserSelectAll($event)" [checked]="isUpdateUserAllSelected()" />
              Select All
            </label>
            <label class="checkbox-label" *ngFor="let location of locationList">
              <input type="checkbox" [value]="location.locationId" (change)="onUpdateLocationCheckboxChange($event)"
                [checked]="updateUserData.locationId?.includes(location.locationId)" />
              {{ location.locationId }} - {{ location.description }}
            </label>
          </div>
        </div>
      </div> -->


      <div class="form-group">
        <label>Designation</label>
        <input type="text" [(ngModel)]="updateUserData.designation" />
      </div>

      <div class="form-group">
        <label>Department</label>
        <input type="text" [(ngModel)]="updateUserData.department" />
      </div>

      <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" [(ngModel)]="updateUserData.mobileNumber" />
      </div>

    </div>

    <div class="modal-buttons">
      <button class="cancel-btn" (click)="closeUpdateUserPopup()">Cancel</button>
      <button class="create-btn" (click)="updateUser()">Update</button>
    </div>
  </div>
</div>






<div class="user-management-container">

  <div class="user-tabs">
    <div class="tab" [ngClass]="{ active: selectedRole === 'User' }" (click)="selectedRole = 'User'">
      User
    </div>
    <div class="tab" [ngClass]="{ active: selectedRole === 'Location' }" (click)="selectedRole = 'Location'">
      Location
    </div>
  </div>


  <nav class="navbar1">
    <!-- Left Side -->
    <div class="navbar-left">
      <span class="navbar-title">{{ selectedRole }}</span>
    </div>

    <div class="navbar-right" *ngIf="selectedRole !== 'Location'">

      <div class="search-box-wrapper">
        <input type="text" placeholder="Search User..." [(ngModel)]="searchText" (input)="userSearch()"
          class="search-input" />
      </div>

      <div class="tooltip-container" (click)="reloadPage()">
        <button class="icon-button"><img src="assets/refresh.png" alt="Refresh"></button>
        <span class="tooltip-text">Refresh</span>
      </div>
      <div class="tooltip-container" (click)="openAddUserPopup()">
        <button class="icon-button"><img src="assets/add.png" alt="Add"></button>
        <span class="tooltip-text">Add</span>
      </div>
      <!-- <div class="tooltip-container">
        <button class="icon-button"><img src="assets/download.png" alt="Download"></button>
        <span class="tooltip-text">Download</span>
      </div> -->
      <div class="tooltip-container" (click)="toggleAdminColumnPicker()">
        <button class="icon-button"><img src="assets/columns-3.png"></button>
        <span class="tooltip-text">Column Picker</span>
      </div>
    </div>

    <div class="navbar-right" *ngIf="selectedRole === 'Location'">
      <div class="search-box-wrapper">
        <input type="text" placeholder="Search Location..." [(ngModel)]="locationSearchText"
          (input)="applyLocationSearch()" class="search-input" />
      </div>
      <div class="tooltip-container" (click)="reloadPage()">
        <button class="icon-button"><img src="assets/refresh.png" alt="Refresh"></button>
        <span class="tooltip-text">Refresh</span>
      </div>
      <div class="tooltip-container" (click)="openAddLocPopup()">
        <button class="icon-button"><img src="assets/add.png" alt="Add"></button>
        <span class="tooltip-text">Add</span>
      </div>
      <!-- <div class="tooltip-container">
        <button class="icon-button"><img src="assets/download.png" alt="Download"></button>
        <span class="tooltip-text">Download</span>
      </div> -->
      <div class="tooltip-container" (click)="toggleColumnPickerModal()">
        <button class="icon-button"><img src="assets/columns-3.png"></button>
        <span class="tooltip-text">Column Picker</span>
      </div>
    </div>

  </nav>


  <div class="box">
    <!-- <table class="company-table" *ngIf="selectedRole === 'Admin' ">
      <thead>
        <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Location</th>
        <th>Role</th>
        <th>Action</th>
       
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.patrolGuardName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.mobileNumber }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.designation }}</td>
        <td>{{ user.locationName }}</td>
        <td>{{ user.role }}</td>
          <td>
            <div class="tab">
              <div class="tooltip-container">
                <img src="assets/edit.png" alt="Edit"  (click)="openUpdateUserPopup(user)" class="tab-icon">
                <span class="tooltip-text">Edit</span>
              </div>
              <div class="tooltip-container">
                <img src="assets/delete.png" alt="Delete" class="tab-icon">
                <span class="tooltip-text">Delete</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->


    <table class="company-table" *ngIf="selectedRole === 'User'">
      <thead>
        <tr>
          <th *ngFor="let col of adminColumns" [hidden]="!col.visible">{{ col.label }}</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td *ngFor="let col of adminColumns" [hidden]="!col.visible">{{ user[col.key] }}</td>
          <td>
            <div class="tab">
              <div class="tooltip-container">
                <img src="assets/edit.png" alt="Edit" (click)="openUpdateUserPopup(user)" class="tab-icon" />
                <span class="tooltip-text">Edit</span>
              </div>
              <div class="tooltip-container">
                <img src="assets/delete.png" alt="Delete" (click)="openDeletePopup(user.userId)" class="tab-icon" />
                <span class="tooltip-text">Delete</span>
              </div>
            </div>
          </td>
        </tr>
        <tr class="pagination-row" style="height:50px;">
          <td colspan="13">
            <div class="pagination-container">
              <label>Items per page:
                <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                  <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
                </select>
              </label>

              <span class="range-info">{{ startItem }}–{{ endItem }} of {{ totalItems }}</span>

              <button (click)="prevPage()" [disabled]="currentPage === 1" class="arrow-btn">⏴</button>
              <button (click)="nextPage()" [disabled]="endItem >= totalItems" class="arrow-btn">⏵</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="column-picker-popup" [ngClass]="{ 'show': showAdminColumnPicker, 'hide': !showAdminColumnPicker }">
      <div class="popup-header">
        <span>Admin Column Picker</span>
        <button class="close-btn" (click)="toggleAdminColumnPicker()">×</button>
      </div>
      <div class="column-list">
        <label *ngFor="let col of adminColumns" class="column-item">
          <input type="checkbox" [(ngModel)]="col.visible" />
          {{ col.label }}
        </label>
      </div>
    </div>


    <!-- <table class="company-table" *ngIf="selectedRole === 'Marshal' && patrolUsers.length > 0">
      <thead>
        <tr>
          <th>Marshal Name</th>
          <th>Email</th>
          <th>PatrolId</th>
          <th>Designation</th>
          <th>Department</th>
          <th>Location</th>
          <th>Contact Number</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of patrolUsers">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.patrolId }}</td>
          <td>{{ user.designation }}</td>
          <td>{{ user.department }}</td>
          <td>{{ user.locationName }}</td>
          <td>{{ user.mobileNumber }}</td>
          <td>{{ user.role }}</td>
          <td>
            <div class="tab">
              <div class="tooltip-container">
                <img src="assets/edit.png" alt="Edit" (click)="openEditUserPopup(user)" class="tab-icon">
                <span class="tooltip-text">Edit</span>
              </div>
              <div class="tooltip-container">
                <img src="assets/delete.png" alt="Delete" (click)="openDeletePopup(user.patrolId)" class="tab-icon">
                <span class="tooltip-text">Delete</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->




    <table class="company-table" *ngIf="selectedRole === 'Location'">
      <thead>
        <tr>
          <th *ngFor="let col of columns" [hidden]="!col.visible">{{ col.label }}</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loc of locationList">
          <td *ngFor="let col of columns" [hidden]="!col.visible">{{ loc[col.key] }}</td>
          <td>
            <div class="tab">
              <div class="tooltip-container">
                <img src="assets/edit.png" alt="Edit" (click)="openUpdateLocPopup(loc)" class="tab-icon">
                <span class="tooltip-text">Edit</span>
              </div>
              <div class="tooltip-container">
                <img src="assets/delete.png" alt="Delete" (click)="openDeleteModal(loc.locationId)" class="tab-icon">
                <span class="tooltip-text">Delete</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tr class="pagination-row" style="height:50px;">
        <td colspan="13">
          <div class="pagination-container">
            <label>Items per page:
              <select [(ngModel)]="locationItemsPerPage" (change)="onLocationItemsPerPageChange()">
                <option *ngFor="let size of locationPageSizeOptions" [value]="size">{{ size }}</option>
              </select>
            </label>

            <span class="range-info">{{ locationStartItem }}–{{ locationEndItem }} of {{ locationTotalItems }}</span>

            <button (click)="prevLocationPage()" [disabled]="locationCurrentPage === 1" class="arrow-btn">⏴</button>
            <button (click)="nextLocationPage()" [disabled]="locationEndItem >= locationTotalItems"
              class="arrow-btn">⏵</button>
          </div>
        </td>
      </tr>

    </table>
  </div>


  <div class="delete-modal" *ngIf="isDeletePopupOpen">
    <div class="delete-modal-content">
      <p>Are you sure you want to delete this user?</p>
      <div class="delete-modal-buttons">


        <button class="delete-yes-btn" (click)="confirmDelete()">Yes</button>
        <button class="delete-no-btn" (click)="closeDeletePopup()">No</button>
      </div>
    </div>
  </div>


  <div class="modal" *ngIf="isAddLoc">
    <div class="modal-content">
      <p>Add Location</p>

      <div class="form-grid">


        <div class="form-group">
          <label>Location Code</label>
          <input type="text" [(ngModel)]="location.locationCode" />
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" [(ngModel)]="location.latitude" />
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" [(ngModel)]="location.longitude" />
        </div>

        <div class="form-group">
          <label>Location Name</label>
          <input type="text" [(ngModel)]="location.description" />
        </div>
      </div>

      <div class="modal-buttons">
        <button class="cancel-btn" (click)="cancelLoc()">Cancel</button>
        <button class="create-btn" (click)="addLoc()">Add</button>
      </div>
    </div>
  </div>


  <div class="modal" *ngIf="isUpdateLoc">
    <div class="modal-content">
      <p>Update Location</p>

      <div class="form-grid">


        <div class="form-group">
          <label>Location Code</label>
          <input type="text" [(ngModel)]="location.locationCode" />
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" [(ngModel)]="location.latitude" />
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" [(ngModel)]="location.longitude" />
        </div>

        <div class="form-group">
          <label>Location Name</label>
          <input type="text" [(ngModel)]="location.description" />
        </div>
      </div>

      <div class="modal-buttons">
        <button class="cancel-btn" (click)="cancelUpdateLoc()">Cancel</button>
        <button class="create-btn" (click)="updateLoc()">Update</button>
      </div>
    </div>
  </div>


  <div class="delete-modal" *ngIf="isDeleteLoc">
    <div class="delete-modal-content">
      <p>Are you sure you want to delete this Location?</p>
      <div class="delete-modal-buttons">


        <button class="delete-yes-btn" (click)="deleteLoc()">Yes</button>
        <button class="delete-no-btn" (click)="CloseLocDel()">No</button>
      </div>
    </div>
  </div>



  <!-- column picker for location -->

  <div class="column-picker-popup" [ngClass]="{ 'show': showColumnPicker, 'hide': !showColumnPicker }">
    <div class="popup-header">
      <span>Column Picker</span>
      <button class="close-btn" (click)="toggleColumnPickerModal()">×</button>
    </div>
    <div class="column-list">
      <label *ngFor="let col of columns" class="column-item">
        <input type="checkbox" [(ngModel)]="col.visible" />
        {{ col.label }}
      </label>
    </div>
  </div>