<!-- <div class="calendar-wrapper" #calendarWrapper>
  <input type="text" placeholder="Select dates" readonly
         (click)="openCalendar($event)"
         [value]="selectedDatesText">

  <p-calendar *ngIf="showCalendar"
              [selectionMode]="'multiple'"
              [(ngModel)]="selectedDates"
              (onSelect)="toggleDate($event)">
    
    <ng-template let-date pTemplate="date">
      <span [ngClass]="{'selected-date': isSelected(date)}">
        {{ date.getDate() }}
      </span>
    </ng-template>
  </p-calendar>
</div> -->



